CF_DNS_API_TOKEN=
TS_AUTHKEY_KOMODO=
KOMODO_DATABASE_USERNAME=admin
KOMODO_DATABASE_PASSWORD=
KOMODO_INIT_ADMIN_USERNAME=admin
KOMODO_INIT_ADMIN_PASSWORD=
KOMODO_WEBHOOK_SECRET=
KOMODO_JWT_SECRET=
KOMODO_HOST=https://komodo.<CHANGE-ME>.ts.net

KOMODO_OIDC_ENABLED=false
KOMODO_OIDC_PROVIDER=https://auth.yoke-th.me
KOMODO_OIDC_CLIENT_ID=
KOMODO_OIDC_CLIENT_SECRET=
KOMODO_ENABLE_NEW_USERS=true
KOMODO_DISABLE_USER_REGISTRATION=true
KOMODO_DISABLE_LOCAL_USER_REGISTRATION=true
KOMODO_OIDC_ADDITIONAL_AUDIENCES=
