@auth_root {
	host auth.yoke-th.me
	path /
}
handle @auth_root {
	rewrite * /ui/v2/login/
	reverse_proxy zitadel-login:3000
}

@auth_login {
	host auth.yoke-th.me
	path /ui/v2/login*
}
handle @auth_login {
	reverse_proxy zitadel-login:3000
}

@auth_api {
	host auth.yoke-th.me
	path /api /api/*
}
handle @auth_api {
	uri strip_prefix /api
	reverse_proxy h2c://zitadel:8080
}

@auth host auth.yoke-th.me
handle @auth {
	reverse_proxy h2c://zitadel:8080
}
